extends index.pug
block style
    -var stylink = '../'    
        link(rel='stylesheet' type='text/css' href=stylink+'style.css')
block title
    -var links = ["http://mp3gain.sourceforge.net/download.php"]
    -var art_content = ['MP3Gain, как им пользоваться', '11-04-2021 10:15', 'mp3gain']
    title= art_content[0]
block content
    .article
        h2= art_content[0]
        .info
            span.date= art_content[1]
            span.tag= art_content[2]
        .text
            //- всё что выше вставить в новую статью
            p Давно пользуюсь такой прогой, как MP3Gain. Для чего она нужна? В принципе, можно выделить два направления в которых она используется.
            p
                strong Первое
                |  - усреднение громкости нескольких mp3-треков, т.е. одна "песенка" проигрывается в плеере с нормальной громкостью, вторая - какая-то тихая, и мы крутим ручку увеличения громкости, а третья внезапно оказывается самой громкой из всех и орет так, что "перепонные барабанки" чуть не лопаются.
            p Почему так? Может это чисто субъективный фактор, и нам кажется что третий трек такой громкий, а на самом деле, уровень громкости, который, кстати, измеряется в дицебеллах(дБ), не намного отличается от остальных. Просто здесь играет больше муз. инструментов, голос певца высокий и т.д. А может потому, что записывались все эти композиции на разном оборудовании, разными звукорежисерами и "норма громкости" у каждого своя.
            p Тогда на помощь приходит эта программа. Она выравнивает треки по отношению друг к другу. Чтобы звук не был слишком тихим или громким, а был где-то посередине - "нормальным". При чем эту  самую норму можно установить самому. По умолчанию в MP3gain норма - 89дБ, что само по себе тише среднего звучания. Но это ведь специально, заради здоровья ваших ушек. Но вы можете поднять планку повыше, если любите музыку погромче, подрайвовее.
            p И тут мы подходим ко 
                strong второму
                |  назначению программы. Если вы задерете уровень средней громкости слишком высоко или, что вероятнее, трек сам изначально громкий, то может наблюдаться клиппинг.
            p
                strong Клиппинг
                |  (англ. clipping — обрезание, срезывание) — форма искажения звука, выражающаяся в ограничении амплитуды сигнала при превышении выходным напряжением усилителя лимита напряжения питания. На осциллографе выражается как обрезание верхушек синусоидного сигнала. Субъективно выражается в возрастании громкости звука, появлении «шипения» и «треска».
                span (честно слямжено с Вики)
            p(class="img")
                img(src="images/mp3gain_img/clipping.jpg" alt="clipping")
            p Т.е. нам нужно понизить этот предел громкости, чтобы воображаемая синусоида была ростом пониже, и все закругления(сверху и снизу) вписывались в характеристики нашей аппаратуры.
            p Понятно, что причина зашумленности mp3-шки, может оказаться не в клиппинге, если вы используете, допустим плеер Sonny и наушники Ponaconik, слепленные из подручных материалов дядюшкой Ляо в какой-нибудь китайской деревне.
            p Можно вручную подбирать среднюю громкость для каждого трека отдельно, но, повторюсь дефолтное значение в 89дБ - оптимальное. Хотя можно чутка и задрать до 92дБ.
            p Переходим к программе. Она достаточно старенькая, но функции свои исполняет на 4 с плюсом. Я использую portable-версию, т.е. без установки, так как обычная версия иногда не работала на windows 7. Оно и лучше, так не мусорится реестр, да и на флешке, вместе с музыкой, ей комфортнее и нам удобнее. Изначально прога на английском, если хотим переключить на русский, идем в папку программы, в ней папка 
                strong otherlang
                |  , берем в ней файл russian… и кидаем в основную папку. После запуска выбираем нужный язык.
            p Меню инструментов понятное: как добавить файл или сразу папку, можно просто перетащить в окно программы, как удалить mp3-файл или все файлы, не из компьютера, а всего лишь из рабочего окна программы.
            p(class="img")
                img(src="images/mp3gain_img/mp3gain.jpg" alt="mp3gain-window")
            p Главные кнопки посередине: одна анализирует файлы, узнает изначальное значение громкости, другая - тип, непосредственно запуск нормализации по некоему основанию, ниже оно в окошечке прописано. Здесь есть настройки как для отдельного трека так и для целого альбома(справа от каждой кнопки - треугольник). Отличие одного от другого в том, что тип 
                strong Трек
                |  просто "нормализует" все подряд файлы под одну гребенку, а тип 
                strong Альбом
                |  выравнивает по громкости файлы еще и с учетом того, что они принадлежат одному альбому/лежат в одной папке. А так же есть еще один тип нормализации - 
                strong Константа,
                |  который увеличивает/уменьшает громкость всех треков на определенное значение(с шагом 1.5дБ).
            p В колонках отображаются данные о текущем уровне громкости, наличии клиппинга, после анализа видна величина, на которую изменится уровень. Если, допустим результат не понравился, то можно без проблем вернуть все назад в любое время. Так как все эти данные хранятся в самом mp3-файле(Меню - Изменить уровень - Отменить изменения уровня).
            p Я использую нормализацию всех треков скопом, невзирая на то, кто в каком Альбоме сидит. Т.к. слушаю музыку на плеере вперемешку. В общем работает все так: закидываем папку с музоном прямо в окошко. Анализируем потреково и выставив тип Трек нормализуем. Все.
            hr
            a(href=links[0]) mp3gain-win-full-1_3_4.zip
