extends index.pug
block style
    -var path = '../'    
        link(rel='stylesheet' type='text/css' href=path+'style.css')
block title
    -var links = ['article3.html']
    -var images = ['images/eureka2_img/1d.gif','images/eureka2_img/2d.gif', "images/eureka2_img/3d.gif", "images/eureka2_img/4d.gif", "images/eureka2_img/4d.gif", "images/eureka2_img/5d.gif", "images/eureka2_img/6d.gif", "images/eureka2_img/7d.gif", "images/eureka2_img/8d.gif", "images/eureka2_img/9d.gif", "images/eureka2_img/10d.gif"]
    -var art_content = ['Редактор Doom - Eureka, часть 2', '12-04-2021 08:45', 'doom']
    title= art_content[0]
block content
    .article
        h2= art_content[0]
        .info
            span.date= art_content[1]
            span.tag= art_content[2]
        .text
            p Итак, продолжаем уроки по замечательной программе-редактору карт Doom - Eureka. В прошлом уроке мы узнали о всех режимах работы проги, так сказать заложили базу. Теперь начнём что-нибудь создавать. Удаляем всё что накуролесили в прошлый урок(    
                b Ctrl+A+Del
                | ). Ну а если жалко стирать созданную красоту, сохраняем карту map01 - (
                b Ctrl+S
                | ) и выберем новую map02 - (
                b Shift+Ctrl+M
                | ). Это мы проходили в прошлый раз.
            p Создаём комнату среднего размера, со стороной, пускай 512. Создадим ещё один сектор, проще всего скопировать уже созданный, т.е. выделить его в режиме сектров и(
                b Ctrl+C
                | ) и вставить рядом(
                b Ctrl+V
                | ). Высота секторов пусть будет 128. Между ними делаем проход(в режиме вершин), не  слишком длинный, он будет дверью.
            p Создание двери - самый первый и простой шаг в мир экшенов(actions), т.е. уже созданных скриптов, которые реагируют на действия игрока или монстров, и что-то двигают, открывают и др. До этого мы могли бы сделать какой-нибудь лабиринт из комнат, проходов, площадей и грамотно и с хитринкой расставленных монстров(чтоб жизнь мёдом не казалась). Теперь же настала пора всё это немного оживить. Двери, лифты, лестницы, раздавливающие ловушки, ямы-ловушки неплохо украшают какой-нибудь простенький уровень.
            p Немного отвлеклись. Тот сектор, что посередине, маленький - дверь, те что по краям, большие - комнаты. Так как двери изначально всегда в закрытом состоянии, их конечно же надо закрыть. Т.е. устанавливаем высоту данного сектора в 0. В строке Headroom есть несколько предопределённых размеров от 0 до 256.
            p(class="gif")
                img(src=path+images[0] alt="door")
            p Проверим чтобы 2 "лицевые" стороны у linedefs, которые соседствуют с комнатами, были доступны игроку(чтобы он мог взаимодействовать с ней: открыть дверь, опустить лифт и т.д.). Если линия "смотрит" в другую сторону, инвертируем её(
                b w
                | ). Затем выбираем обе эти линии, и в панели инструментов(ПИ), вверху где написано 
                b Type
                |  кликаем на 
                b Choose(Выбрать)
                |  и вываливается список всех возможных экшенов - целых 272 штуки. Чтобы разобраться в таком количестве, в самом верху с помощью селектора, можно выбрать интересующую категорию экшена. Чуть ниже, в строке поиска можно найти что нужно. Под номером 0 в списке - Ничего, т.е. на выбранную линию не навешено никаких действий(у всех созданных секторов по-умолчанию). На следующей строке то, что нам нужно - 
                b Open Door.
            p Но тут нужно уточнить что вообще означают здесь всякие циферки и буковки. 
                b Первая
                |  цифра - тип действия, в списке они выстроены для удобства по порядку(подставляется в окошко Type в ПИ). 
                b Следующие
                |  в строке экшена две буквы или буква и цифра. Первая в этом сочетании означает каким образом action "включается", варианты: 
                b D
                |  - (door)исключительно для дверей, дверь, при нажатии на неё открывается, через несколько секунд закрывается(возможно). 
                b G
                |  - (gun)редкая, но интересная штука, возможность "включать" выбранный linedef выстрелом. 
                b S
                |  - (switch)используется вместе с текстурами выключателей, всё просто - подошёл, нажал кнопку и что-то произошло. 
                b W
                |  - активируется когда игрок или монстр пересёк данную линию. А второй символ бывает всего двух видов: 
                b 1
                |  - действие может выполнится всего один раз(например открылась дверь и больше не закроется). 
                b R
                |  - наоборот действие может производиться хоть сколько раз. Ну и 
                b последнее
                |  это описание экшена, которое заносится в поле 
                b Desc.
            p Эта таблица для большего понимания:
            table
              caption Таб.1 Типы активации actions
              thead
                tr
                  th Активация действия
                  th Описание
                tr(class="separator")
                  th D
                  td Открывает-закрывает дверь (только для дверей)
                tr
                  th G
                  td Активирует действие выстрелом(удалённо)
                tr
                  th S
                  td Активирует действие, нажатием кнопки(удалённо)
                tr
                  th W
                  td Активирует действие пересечением линии(удалённо)
              tbody
                tr(class="separator")
                tr
                  th 1
                  td Активацию действия можно произвести только один раз
                tr
                  th R
                  td Активацию действия можно производить многократно
            p Например 1/ D1 Open door - я думаю уже понятно, что это значит. Остальные можно проверять методом тыка.
            p Итак, вешаем action открывания двери на выбранные линии. Так же для двери нужна подходящая текстура, так как дверь закрыта и мы видим верхнюю часть(upper), выбираем текстуру для неё.
            p(class="gif")
                img(src=path+images[1] alt="texture door")
            p Упс, двери получились слишком широкие, немного сужаем проход и всё в порядке.
            p(class="gif")
                img(src=path+images[2] alt="width door")
            p Да кстати частоту вспомогательных направляющих,к которым прилипают линии можно настроить кнопками(
                b g
                |  - чаще, 
                b Shift+g
                |  - реже, или цифры от 1 до 9). По умолчанию установлена частота, которая на цифре 6. Теперь сохраняем и испытываем в игре.
            p Тестировать экшены возможно только в процессе игры. Поэтому приготовьтесь часто запускать уровень для проверки. И тут же мы нашли одну ошибку - при открытии двери, боковые стенки тоже ползут вверх, а так же у нижней части двери текстура как у потолка, непорядок. Исправить первый "косяк" можно установив у интересующих нас боковых линий в ПИ у списка 
                b Flags
                |  (флаги) опцию 
                b lower unpegged.
                |  А второй, я думаю вы уже догадались как исправить - поменять у сектора двери верхнюю текстуру(на flat20 например).
            p(class="gif")
                img(src=path+images[3] alt="mistakes of door")
            p Но создав данную дверь мы совершили ещё одну ошибку, которая в данном случае не видна и выявится при определённых условиях. А именно, если у комнат будет разная высота потолка. Установим у первого сектора высоту 192, у второго как мы помним 128.
            p(class="gif")
                img(src=path+images[4] alt="sector")
            p Получилось не очень, ширина текстуры двери как и высота равна 128.С шириной попроще: в каких-то случаях нам как раз нужны такие широкие ворота(чтобы, например, внезапно скопом выскочила куча пауканов), можно также поставить более или менее подходящую текстуру(
                b bigdoor5
                | ), или же сделать несколько дверей с небольшими промежутками.
            p Но вот с высотой выхода два(если нужна обязательно разная высота): можно соорудить узенький сектор возле двери, подходящей высоты.
            p(class="gif")
                img(src=path+images[5] alt="sector door")
            p А лучше сразу заложить данную возможность в конструкцию двери. Делать между комнатами небольшой сектор, внутри которого уже и делать дверь.
            p(class="gif")
                img(src=path+images[6] alt="sector door2")
            p Теперь поговорим о разных дверях, точнее о различных экшенах для дверей. Выбрав активирующие линии, жмём на ПИ уже знакомую кнопку 
                b Choose
                |  . И в открывшейся панели ищем нужные нам экшены </p>
            p(class="gif")
                img(src=path+images[7] alt="actions")
            p Вот некоторые из них:
            p action номер 
                b 117
                |  открывает/закрывает двери быстро;
            p
                b 31
                |  - двери открываются и больше не закрываются;
            p
                b 26,27,28
                |  - соответственно открывает синюю, жёлтую, красную дверь;
            p Допустим пусть наша дверь открывается красным ключом, выбираем для наших линий соответствующий экшен. Добавим красный ключ на карту в режиме(
                b Things
                | ). Ну и надо бы показать что наша дверь не простая, а "ключевая".
            p(class="gif")
                img(src=path+images[8] alt="keyed doors")
            p А если нам допустим хочется чтобы дверь открылась, когда мы дёрнем какой-нибудь рубильник. Тут мы подходим к изучению ещё одной штуки - тега(tag). Выделим небольшой участок на стене, рядом с дверью. Навешиваем на него действие по открыванию двери с помощью кнопки. Подберём текстуру покрасивее. И обратим внимание на окошко 
                b Tag
                |  на ПИ. Ставим любую цифру, хоть 9999, но чтобы не запутаться, будем вести отсчёт наших тегов с 1. Запомнили: установили экшен, поставили тег. Затем выделяем нужный нам сектор, в данном случае дверь и в поле тег у сектора ставим наш номер 1. Сохраняем, запускаем, всё должно работать.
            p Дверь открывается и с помощью ключа и при нажатии кнопки. Получается так, что если линия на которую жмём находится непосредственно на объекте, реагирующем на нажатие - дверь, лифт и др., то тег не нужен, а если между линией-активатором и сектором-объектом какое-то расстояние, тег нужен.
            p(class="gif")
                img(src=path+images[9] alt="keyed doors button")
            p Пусть наша дверь открывается когда мы выстрелим по кнопке, допустим подойти и нажать у нас нет возможности. Не меняем ничего лишнего, кроме экшена у кнопки - номер 
                b 46
                |  (только дверь после открытия не закрывается).
            p Осталось разобрать последний тип линий. Пусть дверь открывается, при пересечении главгероем невидимой линии. Данный экшен под номером 
                b 90.
            p(class="gif")
                img(src=path+images[10] alt="keyed doors line")
            p Здесь мы разорвали связь кнопки и двери в виде тега, и связали невидимую линию и дверь. В режиме линий кстати при наведении на активирующую линию подсвечивается и связанный сектор, а в режиме секторов, наоборот подсвечивается связанная с ним линия.
            p Ну а на сегодня всё. Я думаю что дал достаточно данных для использования в тестовых уровнях. В следующий раз думаю затронуть лифты и ещё что-нибудь.
            p

                a(href=links[0]) ◀ Предыдущий материал о Eureka.
